@font-face {
    font-family: 'FontAwesome';
    src: url('FontAwesome.eot');
    src: url('FontAwesome.eot?#iefix') format('embedded-opentype'),
        url('FontAwesome.woff2') format('woff2'),
        url('FontAwesome.woff') format('woff'),
        url('FontAwesome.ttf') format('truetype'),
        url('FontAwesome.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}

.fa-android:before {
  content: "\f17b";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-blogger:before {
  content: "\f37c";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-check:before {
  content: "\f00c";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-close:before {
  content: "\f00d";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-dollar:before {
  content: "\f155";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-home:before {
  content: "\f015";
}
.fa-image:before {
  content: "\f03e";
}
.fa-link:before {
  content: "\f0c1";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-microsoft:before {
  content: "\f3ca";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-random:before {
  content: "\f074";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-search:before {
  content: "\f002";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-user:before {
  content: "\f007";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-youtube-play:before {
  content: "\f16a";
}
